h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2f0c0c;
    font-size: 80px;
    text-align: center;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2f0c0c;
    font-size: 30px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}